

* {
    box-sizing: border-box;
    font-family: 'Merriweather', serif;
}
h2{
    margin: 15px 0 15px 0;
}

.icon {
    width: 200px;
    height: 200px;
}



.loc-text {
    width: 600px;
    background-color: rgba(204, 204, 204, 0.431);
    padding-left: 20px;
    font-size: 40px;
}

.container {
    max-width:980px;
    margin:0 auto;
}

.navigation{
    width: 25%;
    height: auto;
    z-index: 20;
    position: absolute;
    margin-top: 65px;
}


main{
    position: absolute;
    width:100vw;
    height: 100vh;
}

.map{
    z-index: 1;
    width:100vw;
    height: 100vh;
}

button {
    height: 100px;
    width: 100px;
    font-size: 24px;
    cursor: pointer;
}

button:hover {
    color:rgba(80, 206, 238, 0.835);
}

.url{
    position: absolute;
    z-index: -21;
}

.weather-details {
   
    width: 600px;
    background-color: rgba(240, 255, 255, 0.726);
    font-size: 1.5em;
    padding: 20px;
}

.daily-forecast {
    margin-top: 5px;
    width: 600px;
    background-color: rgba(240, 255, 255, 0.726);
    padding: 20px;
    font-size: 1.4em;
}

.day1-icon, .day2-icon, .day3-icon {
    width: 50px;
    height: 50px; 
     
}

.desc{
    font-size: 1.8em;
}
.temp-icon{
    font-size: 9em;
}

.fa-sun{
    color: rgba(219, 182, 17, 0.966);
    
}

.sun {
    height: 80px;
}

.app-temps {
    font-size: 1.3em;
}

.temp-box{
    height: 100%;
}

.temp {
    font-size: 7em;
}

.extra-dets {
    height: 100%;
}

.user-address {
    width: 0px;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 30px;
    background-color: white;
    padding: 12px 20px 12px 20px;
    transition: width 0.2s ease-in-out ;
    opacity: 0;
}

.search:hover + .user-address {
    
    opacity: 1; 
    width: 300px;
}

body {
    z-index: -20;
    margin:0 auto;
}


/*---flex---*/

.flex {
    display: flex;
}
.inline-flex {
    display: inline-flex;
}

.justify-center {
    justify-content: center;
}

.align-center {
    align-items: center;
}

.space-around {
    justify-content: space-around;
}
.space-between {
    justify-content: space-between;
}

.flex-wrap {
    flex-wrap: wrap;
}

.flex-full {
    flex: 1;
}

.flex-column {
    flex-direction: column;
}

@media (max-width: 1025px) {
    .temp {
        font-size: 5em;
    }

    .temp-icon{
        font-size: 7em;
    }

    .loc-text {
      
        font-size: 20px;
    }

    .icon {
        width: 150px;
        height: 150px;
    }

    .weather-details {
        width: 400px;
    }

    .app-temps {
        font-size: 1.1em;
    }

    h2{
        margin: 238px 0 15px 0;
    }

    .daily-forecast {
        width: 400px;
        font-size: 1em;
    }

}

@media (max-width: 769px) {
    h2 {
        margin: 66px 0 15px 0;
    }

    .daily-forecast{
        display: none;
    }

    /* .weather-details{
        width: 345px;
    }

    .temp-icon{
        font-size: 4em;
    } */
}


@media (max-width: 750px) {
    button {
        width: 50px;
        height: 50px;
    }

    .loc-text {
        width: 100vw;
        font-size: 16px;
    }

    .sun {
        display: none;
    }

    .navigation {
        margin-top: 70px;
        width: 15%;
    }

    .user-address {
        width: 150px;
        font-size: 20px;
    }

    h2 {

        font-size: 16px;
        width: 96vw;
        margin: 176px 0 15px 0;
    }

    .desc {
        font-size: 28px;
    }

    .weather-details{
        margin-top: -10px;
        margin-left: -33px;
        /* width: 1px; */
        width: 108vw;
        height: 88px; 
        align-items: center;
    }

    .location-header{
        width: fit-content;
    }

    .temp {
        font-size: 2em;
    }

    .temp-icons {
        flex-direction: row;
       
    }

    .temp-details {
        flex-direction: row;
    }

    .temp-box {
      align-items: center;
    }

    .app-temps {
        font-size: 17px;
    }

    .temp-icon{
        display: none;
    }

    .icon {
        width: 100px;
        height: 100px;
        font-size: 2em;
        margin-top: 18px;
    }

    .daily-forecast {
        display: flex;
        font-size: 0.7em;
       width: 100vw;
       height: 150px;
       justify-content: space-around;
    }

    h1 {
        font-size: 14px;
        margin-right: 26px;
    }

}

@media (max-width: 321px) {
    h2 {
        margin: 94px 0 15px 0;
    }

    .weather-details{
        width: 111vw;
        margin-top: -19px;
        
    }

}

